section {
  min-height: 100%;
  border: 2px solid black;
  background-color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header" "main" "footer";
}

section > * {
  position: absolute;
  border: 2px solid black;
}

header {
  background: transparent;
  width: 100%;
  height: 10%;
  grid-area: header;
}
main {
  width: 100%;
  height: 80%;
  top: 10%;
  text-align: center;
  grid-area: main;
}
footer {
  bottom: 0;
  width: 100%;
  height: 10%;
  background: transparent;
  text-align: center;
  grid-area: footer;
}
